<div style='position: fixed, top: 0; right: 0'>
  <% if locale == I18n.default_locale %>
    <%= link_to 'English', locale: 'en' %>
  <% else %>
    <%= link_to 'Français', locale: 'fr'  %>
  <% end %>
</div>