<div>
  <h1><%= @shop.name %></h1>
  <div style="display: flex;">
    <h3>Horaires:</h3>
    <%= render "shop", shop_hours: @shop_hours, days: @days, shop_hour_days: @shop_hour_days %>
  </div>

  <%= link_to  t("links.add_hours"), new_shop_shop_hour_path(@shop.id) %>
  <%= render "layouts/links" %>
</div>